:root {
  --font: "Nunito Sans", sans-serif;
  --black: #111517;
  --white: white;
  --backgroundLight: #fafafa;
  --backgroundDark: #1a2833;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font);
  color: var(--black);
  background: var(--backgroundLight);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.country-list > * {
  background: #273542;
}

.headerStyle {
  background: #273542;
  color: red;
}

.inputStyle {
  background: #273542;
  color: #fafafa;
}

.bodyStyle {
  background: #1a2833;
  color: white;
}

.button-region-filter {
  background: #273542;
}
